@use "../base/variables" as variables;

main {
  .section {
    border-top: 1px solid variables.$color-border;

    &-description {
      font-size: clamp(1.125rem, 2.5vw, 2rem);
      font-weight: 600;
      text-transform: uppercase;
      color: variables.$color-primary;
      margin-bottom: variables.$spacing-md;
    }

    &-heading {
      font-size: clamp(1.5rem, calc(1.5rem + 1.5vw), 4rem);
      font-weight: 500;
      text-align: center;

      @media (min-width: 48rem) {
        text-align: start;
      }
    }

    @media (width >= 48rem) {
      padding: calc(variables.$spacing-2xl * 3) variables.$spacing-2xl;

      &-title {
        width: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 2;
      }
    }
  }

  // Features

  .features {
    grid-row: 2;

    &-card {
      width: 100%;

      &-header {
        font-size: variables.$font-size-xl;
        font-weight: 700;
      }
    }

    &-img {
      display: none;

      @media (min-width: 48rem) {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-feature {
      width: 100%;
      font-size: variables.$font-size-md;

      @media (min-width: 48rem) {
        width: 70%;
      }
    }

    &-icon {
      width: variables.$spacing-2xl;
      height: variables.$spacing-2xl;
      background-color: variables.$color-primary-opacity;
      border-radius: 50%;
      justify-content: center;
      align-items: center;

      svg {
        width: 50%;
        height: 50%;
        fill: variables.$color-primary;
      }
    }
  }

  // Operations

  .operations {
    &-tabs {
      justify-content: center;
    }
  }
}
