@use "../base/variables" as variables;

.header {
  .nav-wrapper {
    position: absolute;
    top: 0;
    left: -11px;
    min-width: 100vw;
    min-height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in;
    background-color: variables.$color-background;
    z-index: 1000;
    overflow: hidden;
  }

  &-nav-mobile {
    max-width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(variables.$spacing-sm + 1vw) calc(variables.$spacing-sm + 1vw);

    // Sizing the logo
    &-logo {
      width: variables.$logo-width;
      min-height: fit-content;
      padding: 0 0.5em;

      > .logo {
        height: 4.5rem;
        object-fit: contain;
      }
    }

    button {
      font-size: variables.$font-size-3xl;
      margin-inline: variables.$spacing-md;
      border: none;
      background-color: transparent;

      > i {
        padding: 0.25em;
        border: 0.07em solid rgb(0 0 0 / 10%);
        border-radius: 50%;
      }
    }
  }
}
