.flex-column {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 1rem;
  }
}

.flex-align-center {
  justify-content: center;
  align-items: center;

  @media (width >= 48rem) {
    justify-content: center;
    align-items: flex-start;
  }
}

.flex-row {
  @media (width >= 48rem) {
    display: flex;
    flex-direction: row;
  }
}

.flex-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}
