@use "../base/variables" as variables;

// Mobile view < 768px

.grid-section {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

// Operations

.grid-op {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: fit-content(1000px);
}

// Testimonials

.grid-testimonials {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.grid-testimonial-author {
  display: grid;
  grid-template-rows: 64px 64px;
  grid-template-columns: 6.4rem 1fr;
  column-gap: 1rem;
}

// Desktop view > 768px

// Header

@media (width >= 768px) {
  .grid-cta {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60% 1fr;
    place-content: center;
    align-items: flex-start;
  }
}

// Features

.grid-features-col {
  display: grid;
  grid-template-rows: auto;
  gap: variables.$spacing-xl;

  @media (min-width: 48rem) {
    grid-template-columns: 1fr 1fr;
  }
}
