@use "../base/variables" as variables;

.pad-body {
  padding: 0 calc(variables.$spacing-sm + 1.5vw);

  @media (width >= 78.125rem) {
    padding: 0;
  }
}

.pad-xs {
  padding: variables.$spacing-xs;
}

.pad-sm {
  padding: variables.$spacing-sm;
}

.pad-md {
  padding: variables.$spacing-md;
}

.pad-lg {
  padding: variables.$spacing-lg;
}

.pad-xl {
  padding: variables.$spacing-xl;
}

// Margin utilities

.mar-xs {
  margin: variables.$spacing-xs;
}

.mar-sm {
  margin: variables.$spacing-sm;
}

.mar-md {
  margin: variables.$spacing-md;
}

.mar-lg {
  margin: variables.$spacing-lg;
}

.mar-xl {
  margin: variables.$spacing-xl;
}

.margin-inline {
  margin-inline: auto;
}

.max-width {
  max-width: 100%;
}

// Title utilities

.title-space {
  max-width: calc(variables.$spacing-2xl * 26.66);
  margin-bottom: calc(variables.$spacing-xl + 0.5vw);
}
