// Visually hides items but still allows them to be accessed by a user with a screen reader for accessibility purposes.

// This class is applied on to nav menu

.visually-hidden {
  @media (width < 48rem) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

// This is applied on to modal and overlay

.hidden {
  display: none;
}
