@use "../base/variables" as variables;

// Mixin

@mixin links($bg-color, $color) {
  list-style: none;
  background-color: $bg-color;
  color: $color;
}

.header {
  &-cta {
    &-learnmore {
      display: inline-block;
      font-size: variables.$font-size-lg;
      font-weight: 500;
      color: variables.$color-primary;
      text-decoration: none;
      border: none;
      border-bottom: 1px solid currentcolor;
      padding-bottom: 2px;
      cursor: pointer;
      transition: all 0.3s;
    }
  }

  &-nav {
    &-menu {
      margin-inline: variables.$spacing-lg;

      &-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
      }

      &-items {
        margin-left: calc(variables.$spacing-md + 1vw);
      }

      &-links:link,
      &-links:visited {
        font-size: variables.$font-size-lg;
        font-weight: 400;
        color: inherit;
        text-decoration: none;
        display: inline-block;
        transition: all 0.3s;
      }
    }
  }

  // Mobile menu
  .mobile-menu {
    justify-content: flex-start;
    align-items: center;

    &-list {
      padding: 1em;
      font-size: 2rem;
      text-align: center;
      width: 100%;
      min-height: 50%;

      > li {
        > a {
          text-decoration: none;
          color: variables.$color-primary;
        }

        > a:hover,
        a:active {
          color: variables.$color-primary-darker;
        }
      }

      > li:not(:last-child) {
        margin-bottom: 0.5em;
      }
    }
  }
}
