@use "../base/variables" as variables;

// Mixin for button
@mixin button($bg-color, $text-color, $font-size, $font-weight) {
  background-color: $bg-color;
  color: $text-color;
  text-decoration: none;
  border: none;
  border-radius: variables.$spacing-2xl;
  font-size: $font-size;
  font-family: inherit;
  font-weight: $font-weight;
  cursor: pointer;
  transition: all 0.3s;
}

.btn {
  @include button(
    variables.$color-primary,
    variables.$color-text-btn,
    variables.$font-size-md,
    500
  );
}

.btn:hover {
  background-color: variables.$color-primary-darker;
}

.btn:focus {
  outline: none;
}

// Button in nav menu

.header {
  &-cta {
    &-btn {
      padding: 0.5em 1.3em;

      @media (width >= 48rem) {
        display: none;
      }
    }

    &-btn:link,
    &-btn:visited {
      @include button(
        variables.$color-primary,
        variables.$color-text-btn,
        variables.$font-size-md,
        500
      );
    }

    &-btn:hover,
    &-btn:active {
      background-color: variables.$color-primary-darker;
    }
  }

  &-nav {
    &-menu {
      &-links {
        &--btn:link,
        &--btn:visited {
          @include button(
            variables.$color-primary,
            variables.$color-text-btn,
            variables.$font-size-md,
            500
          );

          padding: 0.5em 0.8em;
        }

        &--btn:hover,
        &--btn:active {
          background-color: variables.$color-primary-darker;
        }
      }
    }
  }
}

// Buttons in Operations section

.operations {
  &-tab {
    font-weight: 600;
    padding: 0.5em 1.3em;

    &--1 {
      @include button(
        variables.$color-secondary,
        variables.$color-text-btn,
        variables.$font-size-md,
        600
      );
    }

    &--1:hover {
      background-color: variables.$color-secondary-darker;
      transform: translateY(-10px);
    }

    &--2:hover {
      transform: translateY(-10px);
    }

    &--3 {
      @include button(
        variables.$color-tertiary,
        variables.$color-text-btn,
        variables.$font-size-md,
        600
      );
    }

    &--3:hover {
      background-color: variables.$color-tertiary-darker;
      transform: translateY(-10px);
    }
  }

  &-tabs {
    button {
      text-align: center;
    }

    span {
      display: inline-block;
      margin-right: variables.$spacing-sm;
      font-weight: 600;
    }
  }
}

// Buttons in Testimonials

.slider {
  &-btn {
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2.25rem;
    cursor: pointer;
  }
}
