@use "../base/variables" as variables;

main {
  // Featuures section icons

  .features {
    &-icon {
      width: variables.$spacing-2xl;
      height: variables.$spacing-2xl;
      background-color: variables.$color-primary-opacity;
      border-radius: 50%;
      justify-content: center;
      align-items: center;

      svg {
        width: 50%;
        height: 50%;
        fill: variables.$color-primary;
      }
    }
  }

  //   Operation section icon

  .operations {
    &-icon {
      border-radius: 50%;
      justify-content: center;
      align-items: center;

      svg {
        width: 50%;
        height: 50%;
      }
    }

    &-icon--1 {
      background-color: variables.$color-secondary-opacity;

      svg {
        fill: variables.$color-secondary-darker;
      }
    }

    &-icon--2 {
      background-color: variables.$color-primary-opacity;

      svg {
        fill: variables.$color-primary-darker;
      }
    }

    &-icon--3 {
      background-color: variables.$color-tertiary-opacity;

      svg {
        fill: variables.$color-tertiary;
      }
    }
  }
}
